.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.card-box {
  border-radius: 4px;
  width: 100%;
  height: 200px;
  margin-bottom: 5%;
  height: 200px;
  padding: 3%;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}

.card-box span {
  font-size: 1.5em;
  margin-right: 4%;
}

.title h2 {
  font-size: 21px;
}

.circle-icon span {
  color: #333;
  font-size: 1.3em;
}

 